// Variables
@import "_variables";

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

@font-face {
    font-family: 'lato_regular';
    src: url('/fonts/lato/Lato-Regular.ttf');
}
@font-face {
    font-family: 'lato_black';
    src: url('/fonts/lato/Lato-Black.ttf');
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: lato;
}

body.login-page, body, body.register-page {
    background: url('../img/pallone_champions.jpg') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.m-t-xs {
    margin-top: 5px;
}

.m-t-sm {
    margin-top: 10px;
}

.m-t {
    margin-top: 15px;
}

.m-t-25 {
    margin-top: 25px;
}

.m-l {
    margin-left: 15px;
}

.m-r {
    margin-right: 15px;
}

.btn-circle {
    border-radius: 15px;
}

strong, .bold {
    font-family: lato_black;
}

.text-14 {
    font-size: 14px;
}

.text-16 {
    font-size: 16px;
}

.text-18 {
    font-size: 18px;
}

.text-22 {
    font-size: 22px;
}

.pointer {
    cursor: pointer;
}

.direct-chat-messages {
    height: 550px;
}

.standing {

    color: #989c9b;

    .standing_wrapper {
        line-height: 1.5em;
        width: 90%;
        max-width: 2000px;
        overflow: hidden;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        background: #fff;
    }

    th {
        background-color: #326295;
        font-weight: bold;
        color: #fff;
        white-space: nowrap;
    }

    td, th {
        padding: 1em 0.5em;
        text-align: left;
        height: 70px;
    }

    tbody th {
        background-color: #2ea879;
    }
    tbody tr:nth-child(2n-1) {
        background-color: #f5f5f5;
        transition: all .125s ease-in-out;
    }
    tbody tr:hover {
        background-color: rgba(50,98,149,.3);
    }

    td {
        cursor: pointer;
    }

    td.rank {
        text-transform: capitalize;
    }
}