<template>
  <div className="container">
    <div className="row">
      <div className="col-md-8 col-md-offset-2">
        <div className="panel panel-default">
          <div className="panel-heading">Example Component</div>

          <div className="panel-body">
            I'm an example component!
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    console.log('Component mounted.')
  }
}
</script>
